* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  overflow: auto !important;
  height: 100%;
}

.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.nextui-checkbox-group-label {
  text-align: center;
  width: 320px;
  border-bottom: 3px inset;
}


html {
  height: 100%;
}

#__next {
  height: 100%;
}

body:first-child:first-child {
  height: 100%;
}

div[data-overlay-container] {
  height: 100%;
}

.square { 
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

input::-webkit-input-placeholder {
  color: #00000042
}