.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.table_cell {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px inset;
    border-radius: 13px;
    transition: 0.3s;
    border-color: rgb(175 170 170 / 28%);

   
}
@media(max-width: 1185px) {
    .table_cell {
        flex-wrap: wrap;
    }
        
}

.table_cell:hover {
    background-color: rgba(147, 236, 159, 0.213);
}

.cityText {
    min-width: 140px;
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.price_box {
    margin: 10px
}

.time_fligt {
    min-width: 70px;
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.info {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools {
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content: center;
}

.box_city_price {
    display: flex;
}

.box_time_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}


.link {
     text-decoration: none;
     width: 100%;
}



/* @media(max-width: 422px) {
    .table {}

} */