.button {
    margin: 0 auto
}

.container {
    padding: 0 24px;
    display: flex;
    flex-direction: column;

}

.box_info_raise {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.table {
    width: 100%
}

.button {
    border-radius: 9px;
    color: white;
    background-color: #F5A524;
    font-family: inherit;
    width: 144px;
    height: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}